GRAPH_TYPE				:	"bar"
TITLE					:	""
X_LABEL					:	""
Y_LABEL					:	"Speedup(%)"
STRING_TO_SEARCH		:	[ipc]
BASE					:	"VisSched_missrate"
PLOT_MEAN				:	"gmean"
LEGENDS					:	[VisSched_missrate,VisSched_mpi]
X_TICKS_LABEL			:	[]
TITLE_FONT_SIZE			:	""
AXIS_LABEL_SIZE			:	"18"
MINOR_AXIS_LABEL_SIZE	:	"14"
TILT_X_LABELS			:	"yes"
LINE_WIDTH				:	"4"
LINE_SHADOW				:	"yes"
